[Unit]
Description=FreeIPA firstboot installer (one-time ipa-server-install)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ipa-firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target